[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
scikit-learn = "*"
joblib = "*"
numpy = "*"
python-dotenv = "*"
google-genai = "*"
python-docx = "*"
pymupdf = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.12"
